.image-button {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-size: 100% 100%;
    background-image: url('../../assets/bg1.jpg');
    transform: scale(1.0, 1.0) rotate(0.0001deg);
  }

  // hover Animation
  transition-property: opacity;
  transition-duration: .4s;
  &::before {
    transition-property: transform;
    transform-origin: center;
    transition-duration: .4s;
  }

  &:hover {
    opacity: 0.7;
    &::before {
      transform: scale(1.1, 1.1) rotate(0.0001deg);
    }
  }

}
